<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <h1>Product Management</h1>
      <a href="/">Home</a>
      <a href="/add">Add Product</a>
    </nav>
    <div class="container">
      <%- body %>
      <!-- Đây là phần render nội dung -->
    </div>
  </body>
</html>
